body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-left: 50px;
  margin-top: 50px;
  display: grid;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-radius, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 200px;
  margin-bottom: 20px;
}

.btn-block:hover {
  border-radius: 10px;
  transform: scale(1.05);
}



.loadingSpinnerContainer, .deleteBoxContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.header {
  display: grid;
  grid-template-columns: 650px 650px;
  justify-self: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 100px;
}

.logo, .altlogo {
  justify-self: left;
}

.altlogo {
  font-family: 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , 
  '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ',
   Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 ,
    'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' ,
     'Droid Sans Japanese' , sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.logo a {
  font-size: 70px;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  font-size: 15px;
  display: grid;
  align-items: center;
  justify-self: end;
}

.registerbox {
  font-weight: bold;
  height: 30px;
  padding: 10px 10px;
  background-color: lightgreen;
  display: grid;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
}

.registerbox:hover {
  background-color: rgb(153, 253, 153);
}

.logout {
  background: none;
  border: none;
  font-size: 15px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 20px;
  display: grid;
  justify-items: center;
}

h1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
}

.heading p {
  color: #828282;
}

.topbox {
  display: grid;
  grid-template-columns: 650px 650px;
  justify-self: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
  display: grid;
  justify-items: center;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 700px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.addkanjiformbox {
  display: grid;
  justify-items: center;
  justify-self: left;
}

.addkanjiform {
  display: grid;
  grid-template-columns: 200px 325px;
  grid-template-rows: 20px 50px 20px;
  align-items: center;
  gap: 5px;
}

label[for="kanji"] {
  grid-area: 1 / 1 / 1 / 3;
}

#kanji {
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: inherit;
  align-self: center;
  width: 150px;
}

.addkanjiinputbox {
  display: grid;
  gap: 5px;
}

.kanjibutton {
  width: 100px;
  border-radius: 5px;
}

.errorbox {
  color: red;
  font-size: 15px;
}

.counterbox {
  justify-self: end;
}

.content {
  width: 1300px;
}

.kanjilist {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
}

.kanjibox {
  background-color: #f4f4f4;
  height: 50px;
  width: 50px;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 25px;
  color: rgb(180, 180, 180);
  cursor: pointer;
}

.known {
  color: black;
}

.kanjibox .close {
  position: absolute;
  height: 10px;
  width: 10px;
  top: 1px;
  right: 1px;
  cursor: pointer;
  border: none;
  font-size: 10px;
}

.deleteBox {
  height: 150px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  border: 3px solid black;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 50px;
  justify-items: center;
  font-size: 20px;
  padding: 50px 10px 20px 10px;
}

.deleteText {
  grid-area: 1 / 1 / 2 / 3;
}

.cancel {
  background-color: white;
  color: black;
  border: none;
}